<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ pageTitle }}</title>
		<link href="/index.css" type="text/css" rel="stylesheet">
	</head>
    <body>
		{{ content }}

			<footer class="navfooter">
				<nav>
					<ul>
						<li><a href="#">Back to top</a></li>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</footer>
	</body>

</html>